n8n/drip-outreach-sequence.json
{
  "name": "OCULOPS — Drip Outreach Sequence",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 6 }]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [220, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/outreach_sequences?status=eq.active&next_step_at=lte.{{ $now.toISO() }}&select=*,outreach_sequence_steps(*),contacts(*)",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }
          ]
        },
        "options": {}
      },
      "name": "Fetch Due Sequences",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ]
        }
      },
      "name": "Has Due Sequences?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/functions/v1/agent-outreach",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "action", "value": "generate" },
            { "name": "user_id", "value": "={{ $json.user_id }}" },
            { "name": "limit", "value": "1" }
          ]
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }
          ]
        }
      },
      "name": "Generate & Send Step",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 200]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/outreach_sequences?id=eq.{{ $json.id }}",
        "method": "PATCH",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "current_step", "value": "={{ $json.current_step + 1 }}" },
            { "name": "next_step_at", "value": "={{ $now.plus({ days: $json.outreach_sequence_steps[$json.current_step]?.delay_days || 3 }).toISO() }}" }
          ]
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        }
      },
      "name": "Advance Sequence Step",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 200]
    },
    {
      "parameters": {},
      "name": "No Op (empty)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [880, 400]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [{ "node": "Fetch Due Sequences", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Due Sequences": {
      "main": [
        [{ "node": "Has Due Sequences?", "type": "main", "index": 0 }]
      ]
    },
    "Has Due Sequences?": {
      "main": [
        [{ "node": "Generate & Send Step", "type": "main", "index": 0 }],
        [{ "node": "No Op (empty)", "type": "main", "index": 0 }]
      ]
    },
    "Generate & Send Step": {
      "main": [
        [{ "node": "Advance Sequence Step", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "oculops" },
    { "name": "outreach" },
    { "name": "drip" }
  ]
}
